
body {
  font-family: Times New Roman, sans-serif;
  background-color: #f7f9fa;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.columna {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.columna h2 {
  text-align: center;
  color: #ffffff;
  margin: 0;
  padding: 8px;
  border-radius: 5px;
}

.materia {
  padding: 12px;
  border-radius: 6px;
  background-color: #ffffff;
  border: 2px solid #ddd;
  cursor: pointer;
  transition: 0.3s;
  text-align: center;
  color: #fff;
}

.completada {
  background-color: #f8d7da !important;
  border-color: #dc3545 !important;
  color: #000 !important;
}

.bloqueada {
  background-color: #a6d5fa !important;
  border-color: #7ac0f8 !important;
  cursor: not-allowed;
  color: #666 !important;
}

.color-1 { background-color: #2196f3; }
.color-2 { background-color: #4dabf5; }
.color-3 { background-color: #7ac0f8; }
.color-4 { background-color: #a6d5fa; }
.color-5 { background-color: #d3eafd; }
